## Study the data in order to see the day that we have at leat one register per node

In [1]:
import pandas as pd
demandData = pd.read_csv('demandData.csv', sep=';')
demandData

       codnode  Pallets  Year  Month  Day        Date
0          167   190.00  2024      3   11  11/03/2024
1           91    50.00  2024      3   11  11/03/2024
2          228    80.00  2024      3   11  11/03/2024
3          164    70.00  2024      3   11  11/03/2024
4          184   200.00  2024      3   11  11/03/2024
...        ...      ...   ...    ...  ...         ...
37768      229   585.77  2022      6   30  30/06/2022
37769      230   248.40  2022      6   30  30/06/2022
37770      231    94.15  2022      6   30  30/06/2022
37771      232   614.92  2022      6   30  30/06/2022
37772      233   196.63  2022      6   30  30/06/2022

[37773 rows x 6 columns]

In [2]:
# Comnute the earliest and latest date for each node
demandData['Date'] = pd.to_datetime(demandData['Date'], format='%d/%m/%Y')

min_dates = demandData.groupby('codnode')['Date'].min()
max_dates = demandData.groupby('codnode')['Date'].max()

# Crear un DataFrame con los resultados
date_summary = pd.DataFrame({'min_date': min_dates, 'max_date': max_dates})
date_summary

print('Day from which we ensure we have records of all nodes')
print(date_summary['min_date'].max())

codnode      int64
Pallets    float64
Year         int64
Month        int64
Day          int64
Date        object
dtype: object
Day from which we ensure we have records of all nodes
2022-07-14 00:00:00

## Check the number of register before 3 july for each node in order to know the maximum k for KNN

In [4]:
# Filter the data to include only dates before July 3, 2023
filtered_demand = demandData[demandData['Date'] < pd.to_datetime('03/07/2023')]

# Group and count the records for each codnode
records_before = filtered_demand.groupby('codnode').size()

# Show the number of records before July 3, 2023 for each codnode
print("Number of records before July 3, 2023 for each codnode:")
print(records_before)

min_records_before = records_before.min()

# Show the minimum number of records before July 3, 2023
print("Minimum number of records before July 3, 2023 for any codnode:", min_records_before)

Number of records before July 3, 2023 for each codnode:
codnode
1      110
2       79
3       95
4       82
5       85
      ...
229     74
230     75
231     71
232     74
233     71
Length: 232, dtype: int64
Minimum number of records before July 3, 2023 for any codnode: 42